[submodule "genesis"]
	path = genesis
	url = https://github.com/bnb-chain/bsc-genesis-contract.git
	branch = validator-network
	ignore = dirty
[submodule "bsc"]
	path = bsc
	url = https://github.com/bnb-chain/bsc.git
	branch = develop
	ignore = dirty