[Unit]
Description=bsc
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/server/validator/chaind.sh -start
ExecReload=/server/validator/chaind.sh -restart
ExecStop=/server/validator/chaind.sh -stop
PrivateTmp=true
LimitNOFILE=10000
StartLimitInterval=0
TimeoutStopSec=120
Restart=always

[Install]
WantedBy=multi-user.target